# Ignore virtual environment
venv/

# Ignore environment files
.env

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore specific file (like extraction.pydantic)
extraction_pydantic.py
cv_quest(with main).py
logger.py
cv_job_reco2.py

app.log